In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)
display(data)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# Дабавим в DataFrame колонку с прибыльностью фильмов, которая равна разности между сборами и бюджетом 

data['profit'] = data['revenue'] - data ['budget']

data['overview'].astype('str')

# Создадим функцию для подсчета каждого элементав колонке, когда в ячейке несколько элементов

def counter(movie_bd, x): # movie_bd - датафрейм, x = колонка датафрейма
    data_plot=movie_bd[x].str.cat(sep='|') # создаём строку  со значениями из колонки x, с разделителем '|'
    dat=pd.Series(data_plot.split('|')) # преоброзуем строку в серию по розделителю '|'
    info=dat.value_counts(ascending=False) # считаем количество элементов в серии
    return info

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723 Pirates of the Caribbean: On Stranger Tides ( tt1298650 )' # +
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
bigest_budget=data['budget'].idxmax()  # Находим индекс строки с самым большим бюджетом
print(bigest_budget,                                    # Выводим на экран  индекс строки,
           data.iloc[bigest_budget, 3],            # ячейку с названием
           '(', data.iloc[bigest_budget, 0], ')')  #и ячейку imdb_id

723 Pirates of the Caribbean: On Stranger Tides ( tt1298650 )

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения
data.sort_values(by=['budget'], ascending=False).head(1)[['original_title','imdb_id']]

                                  original_title    imdb_id
723  Pirates of the Caribbean: On Stranger Tides  tt1298650

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157 Gods and Generals ( tt0279111 )' # +

In [9]:
longest_film=data['runtime'].idxmax()
print(longest_film, data.iloc[longest_film, 3],'(', data.iloc[longest_film, 0], ')')

1157 Gods and Generals ( tt0279111 )

ВАРИАНТ 2

In [10]:
data.sort_values(by=['runtime'], ascending=False).head(1)[['original_title','imdb_id']]

         original_title    imdb_id
1157  Gods and Generals  tt0279111

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
answers['3']='768 Winnie the Pooh ( tt1449283 )' # +

In [12]:
shot_film=data['runtime'].idxmin()
print(shot_film, data.iloc[shot_film, 3],'(', data.iloc[shot_film, 0], ')')

768 Winnie the Pooh ( tt1449283 )

In [13]:
data.sort_values(by=['runtime']).head(1)[['original_title','imdb_id']]

      original_title    imdb_id
768  Winnie the Pooh  tt1449283

# 4. Какова средняя длительность фильмов?

In [14]:
answers['4'] = 110 # +

In [15]:
mean_film = round(data['runtime'].mean())
print(mean_film)

110

# 5. Каково медианное значение длительности фильмов?

In [16]:
answers['5'] = 107.0 # +

In [17]:
median_film = data['runtime'].median(axis = 0)
print (median_film)

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [18]:
answers['6'] = '239 Avatar ( tt0499549 )'# +

In [19]:
# лучше код получения столбца profit вынести в Предобработку что в начале
bigest_profit=data['profit'].idxmax()  # Находим индекс строки с самой большой прибылью
print(bigest_profit,  data.iloc[bigest_profit, 3],'(', data.iloc[bigest_profit, 0],')')

239 Avatar ( tt0499549 )

# 7. Какой фильм самый убыточный?

In [20]:
answers['7'] = "1245 The Lone Ranger ( tt1210819 )" # +

In [21]:
lost_profit=data['profit'].idxmin()  # Находим индекс строки с с самой маленкой прибылью
print(lost_profit, data.iloc[lost_profit, 3], '(', data.iloc[lost_profit, 0], ')' )

1245 The Lone Ranger ( tt1210819 )

ВАРИАНТ 2

In [22]:
data.sort_values(by=['profit']).head(1)[['original_title','imdb_id']]

       original_title    imdb_id
1245  The Lone Ranger  tt1210819

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [23]:
answers['8'] = '1478'# +

In [24]:
 len(data[data.revenue > data.budget])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [25]:
answers['9'] = '599. The Dark Knight (tt0468569)'# +

In [26]:
data_1 = data[data['release_year'] == 2008][['imdb_id', 'original_title', 'revenue']]
data_1[data_1['revenue'] == data_1['revenue'].max()]

       imdb_id   original_title     revenue
599  tt0468569  The Dark Knight  1001921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [27]:
answers['10'] = '1245. The Lone Ranger  (tt1210819)'# +

In [28]:
data_1 = data[(data['release_year']<= 2014) &(data['release_year']>= 2012)][['imdb_id', 'original_title', 'profit']]
data_1.sort_values(by='profit').head(1)

        imdb_id   original_title     profit
1245  tt1210819  The Lone Ranger -165710090

# 11. Какого жанра фильмов больше всего?

In [29]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama' # +

In [30]:
pd.DataFrame(data.genres.str.split('|').tolist()).stack().value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

In [31]:
genre_counter = Counter()  # создаём словарь Counter() для подсчета уникальных значений
for x in data.genres.str.split('|'):  # задаем цикл для перебора элементов в колонке "genres", значение которой разбиты по '|'
    genre_counter += Counter(x)  # добавляем  найденные значения в Counter(x)
genre_counter.most_common()  #  возвращает все элементы, в порядке убывания встречаемости.

[('Drama', 782),
 ('Comedy', 683),
 ('Thriller', 596),
 ('Action', 582),
 ('Adventure', 415),
 ('Crime', 315),
 ('Romance', 308),
 ('Family', 260),
 ('Science Fiction', 248),
 ('Fantasy', 222),
 ('Horror', 176),
 ('Mystery', 168),
 ('Animation', 139),
 ('Music', 64),
 ('History', 62),
 ('War', 58),
 ('Western', 19),
 ('Documentary', 8),
 ('Foreign', 2)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [32]:
answers['12'] = 'Drama'  # +

In [33]:
from collections import Counter
genres = data[data['profit'] > 0]['genres'].to_list()
films = Counter()
for i in genres:
    for j in i.split('|'):
        films[j] += 1
print(films.most_common(3))

[('Drama', 560), ('Comedy', 551), ('Thriller', 446)]

In [34]:
data_profit=data[data.profit>0]
genres=data_profit.genres.str.split('|',expand=True).stack().value_counts()
print(genres)

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [35]:
answers['13'] = 'Peter Jackson' # +

In [36]:
max_revenue_director= pd.DataFrame(data.groupby(by = 'director').revenue.sum()).sort_values('revenue', ascending = False)
display (max_revenue_director)

                      revenue
director
Peter Jackson      6490593685
Christopher Nolan  4167548502
David Yates        4154295625
Michael Bay        3886938960
J.J. Abrams        3579169916
...                       ...
David MichÃ´d         2295423
Steven Shainberg      2281089
Paul Schrader         2062066
Keanu Reeves          2054941
Simon Hunter          2033165

[957 rows x 1 columns]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [37]:
answers['14'] = 'Robert Rodriguez ' # +

In [38]:
movie_bd = data[data['genres'].map(lambda x: True if 'Action' in x else False)] # Создаём датасет в котором только  фильмы в жанре Action
sum_gen = counter(movie_bd ,'director')
print(sum_gen)

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
John Carpenter        1
Wolfgang Petersen     1
Andrew Stanton        1
Paul McGuigan         1
Betty Thomas          1
Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [39]:
answers['15'] = 'Chris Hemsworth' # +

In [40]:
all_2012_films = data[data.release_year == 2012].reset_index()
actors = pd.DataFrame( counter (all_2012_films, 'cast').keys())
actors['revenue'] = 0
actors.columns = ['name','revenue']

for i in range(0,len(actors.name)):
    for j in range(0, len(all_2012_films.cast)):
        if actors.name.iloc[i] in all_2012_films.cast.iloc[j]: 
            actors.revenue.iloc[i] += all_2012_films.revenue.iloc[j]
actors.sort_values(by=['revenue'], ascending=False)

C:\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

                  name     revenue
4      Chris Hemsworth  2027450773
40         Denis Leary  1629460639
62       Anne Hathaway  1522851057
405        Chris Evans  1519557910
238  Robert Downey Jr.  1519557910
..                 ...         ...
272    Michael Nyqvist     3428048
111       Danny Huston     2106557
425         Sami Gayle     2106557
363         Josh Lucas     2106557
131       Nicolas Cage     2106557

[466 rows x 2 columns]

In [90]:
new_data = data[data['release_year'] == 2012]
count = Counter()
for i in range(0, len(new_data)):
    for k in new_data.iloc[i]['cast'].split('|'):
        count[k] += new_data.iloc[i]['revenue']
count.most_common()

[('Chris Hemsworth', 2027450773),
 ('Denis Leary', 1629460639),
 ('Anne Hathaway', 1522851057),
 ('Robert Downey Jr.', 1519557910),
 ('Chris Evans', 1519557910),
 ('Mark Ruffalo', 1519557910),
 ('Scarlett Johansson', 1519557910),
 ('Ralph Fiennes', 1409561013),
 ('Sacha Baron Cohen', 1368110577),
 ('Kristen Stewart', 1234384318),
 ('Emma Thompson', 1163009983),
 ('Tom Hardy', 1134717867),
 ('Seann William Scott', 1112234366),
 ('Daniel Craig', 1108561013),
 ('Judi Dench', 1108561013),
 ('Javier Bardem', 1108561013),
 ('Naomie Harris', 1108561013),
 ('Josh Hutcherson', 1091710235),
 ('Christian Bale', 1081041287),
 ('Michael Caine', 1081041287),
 ('Gary Oldman', 1081041287),
 ('Ian McKellen', 1017003568),
 ('Martin Freeman', 1017003568),
 ('Richard Armitage', 1017003568),
 ('Andy Serkis', 1017003568),
 ('Cate Blanchett', 1017003568),
 ('John Leguizamo', 914138503),
 ('Jennifer Lawrence', 896949406),
 ('Ray Romano', 877244782),
 ('Chris Wedge', 877244782),
 ('Robert Pattinson', 835063556),
 ('Elizabeth Banks', 829566659),
 ('Taylor Lautner', 829000000),
 ('Peter Facinelli', 829000000),
 ('Elizabeth Reaser', 829000000),
 ('Rhys Ifans', 806125608),
 ('Charlize Theron', 799770142),
 ('Frances McDormand', 755060062),
 ('Andrew Garfield', 752215857),
 ('Emma Stone', 752215857),
 ('Martin Sheen', 752215857),
 ('Hugh Jackman', 748751440),
 ('Ben Stiller', 746921274),
 ('David Schwimmer', 746921274),
 ('Chris Rock', 746921274),
 ('Tommy Lee Jones', 738307827),
 ('Woody Harrelson', 710632953),
 ('Liam Hemsworth', 691210692),
 ('Liam Neeson', 677141306),
 ('Taylor Kitsch', 634164585),
 ('Will Smith', 624026776),
 ('Josh Brolin', 624026776),
 ('Michael Stuhlbarg', 624026776),
 ('Mark Wahlberg', 612468315),
 ('Giovanni Ribisi', 612468315),
 ('Suraj Sharma', 609016565),
 ('Irrfan Khan', 609016565),
 ('Ayush Tandon', 609016565),
 ('Gautam Belur', 609016565),
 ('Adil Hussain', 609016565),
 ('Billy Connolly', 598503505),
 ('Channing Tatum', 598294075),
 ('Mila Kunis', 549368315),
 ('Seth MacFarlane', 549368315),
 ('Joel McHale', 549368315),
 ('Bryan Cranston', 540910192),
 ('Kelly Macdonald', 538983207),
 ('Julie Walters', 538983207),
 ('Kevin McKidd', 538983207),
 ('Jane Lynch', 526042190),
 ('Rosamund Pike', 519340595),
 ('Guy Pearce', 489050752),
 ('John C. Reilly', 471222889),
 ('Sarah Silverman', 471222889),
 ('Jack McBrayer', 471222889),
 ('Jamie Elman', 471222889),
 ('Bruce Willis', 449378341),
 ('Kerry Washington', 447412515),
 ('Russell Crowe', 441809770),
 ('Amanda Seyfried', 441809770),
 ('Michael Fassbender', 436542748),
 ('Jamie Foxx', 425368238),
 ('Christoph Waltz', 425368238),
 ('Leonardo DiCaprio', 425368238),
 ('Samuel L. Jackson', 425368238),
 ('Mark Strong', 416959816),
 ('Adam Sandler', 416433970),
 ('CiarÃ¡n Hinds', 411869836),
 ('Maggie Grace', 408345336),
 ('Noomi Rapace', 403170142),
 ('Idris Elba', 403170142),
 ('Sam Claflin', 396600000),
 ('Ian McShane', 396600000),
 ('Kate Beckinsale', 394302074),
 ('Brooklyn Decker', 382725485),
 ('Famke Janssen', 376141306),
 ('Rade Serbedzija', 376141306),
 ('Luke Grimes', 376141306),
 ('Alec Baldwin', 366360283),
 ('Steve Buscemi', 358375603),
 ('David Spade', 358375603),
 ('Kevin James', 358375603),
 ('Selena Gomez', 358375603),
 ('Brendan Gleeson', 356072317),
 ('Dwayne Johnson', 355692760),
 ('Kristin Davis', 355692760),
 ('Vanessa Hudgens', 355692760),
 ('Luis GuzmÃ¡n', 355692760),
 ('Jason Statham', 352919609),
 ('Anna Kendrick', 350316209),
 ('Zac Efron', 348840316),
 ('Danny DeVito', 348840316),
 ('Taylor Swift', 348840316),
 ('Ed Helms', 348840316),
 ('Rob Riggle', 348840316),
 ('Sam Worthington', 347221189),
 ('Edward Norton', 344836104),
 ('Chris Pine', 319376448),
 ('Sylvester Stallone', 312573423),
 ('Dolph Lundgren', 312573423),
 ('Arnold Schwarzenegger', 312573423),
 ('Jude Law', 306941670),
 ('Isla Fisher', 306941670),
 ('Alexander SkarsgÃ¥rd', 303025485),
 ('Rihanna', 303025485),
 ('Tadanobu Asano', 303025485),
 ('Edgar RamÃ\xadrez', 301000000),
 ('Lynn Collins', 284139100),
 ('Willem Dafoe', 284139100),
 ('Tom Cruise', 277759208),
 ('Jeremy Renner', 276572938),
 ('Rachel Weisz', 276572938),
 ('Scott Glenn', 276572938),
 ('Stacy Keach', 276572938),
 ('David Oyelowo', 268705972),
 ('Megan Fox', 267438319),
 ('Michelle Pfeiffer', 257961927),
 ('Johnny Depp', 245527149),
 ('Helena Bonham Carter', 245527149),
 ('Jackie Earle Haley', 245527149),
 ('Jonny Lee Miller', 245527149),
 ('Milla Jovovich', 240159255),
 ('Sienna Guillory', 240159255),
 ('Michelle Rodriguez', 240159255),
 ('Aryana Engineer', 240159255),
 ('Li Bingbing', 240159255),
 ('Jason Biggs', 234989584),
 ('Alyson Hannigan', 234989584),
 ('Chris Klein', 234989584),
 ('Thomas Ian Nicholas', 234989584),
 ('Ben Affleck', 232324128),
 ('Alan Arkin', 232324128),
 ('John Goodman', 232324128),
 ('Victor Garber', 232324128),
 ('Michael Ealy', 228470507),
 ('Bradley Cooper', 218970175),
 ('Richard Jenkins', 218340595),
 ('Werner Herzog', 218340595),
 ('Colin Farrell', 218224335),
 ('Ewan McGregor', 213646729),
 ('Denzel Washington', 208076205),
 ('Ryan Reynolds', 208076205),
 ('Vera Farmiga', 208076205),
 ('Joel Kinnaman', 208076205),
 ('Robert De Niro', 205738714),
 ('Jacki Weaver', 205738714),
 ('Chris Tucker', 205738714),
 ('Jonah Hill', 201585328),
 ('Brie Larson', 201585328),
 ('Dave Franco', 201585328),
 ('Ellie Kemper', 201585328),
 ('Jessica Biel', 198802074),
 ('Bill Nighy', 198802074),
 ('Rachel McAdams', 196114570),
 ('Sam Neill', 196114570),
 ('Scott Speedman', 196114570),
 ('Jessica Lange', 196114570),
 ('Chris Pratt', 186730467),
 ('Jessica Chastain', 186497296),
 ('Julia Roberts', 183018522),
 ('Lily Collins', 183018522),
 ('Armie Hammer', 183018522),
 ('Nathan Lane', 183018522),
 ('Martin Klebba', 183018522),
 ('Naomi Watts', 180274123),
 ('Tom Holland', 180274123),
 ('Samuel Joslin', 180274123),
 ('Oaklee Pendergast', 180274123),
 ('Sayed Badreya', 179379533),
 ('Aasif Mandvi', 179379533),
 ('Anna Faris', 179379533),
 ('Matthew McConaughey', 167221571),
 ('Olivia Munn', 167221571),
 ('Cody Horn', 167221571),
 ('Alex Pettyfer', 167221571),
 ('Salma Hayek', 165338361),
 ('Paul Rudd', 145618720),
 ('Dane DeHaan', 145000000),
 ('Alex Russell', 145000000),
 ('Michael B. Jordan', 145000000),
 ('Michael Kelly', 145000000),
 ('Anna Wood', 145000000),
 ('Katie Featherston', 142817992),
 ('Kathryn Newton', 142817992),
 ('Matt Shively', 142817992),
 ('Brady Allen', 142817992),
 ('Sprague Grayden', 142817992),
 ('Jason Segel', 141968537),
 ('Kathryn McCormick', 140470746),
 ('Ryan Guzman', 140470746),
 ('Stephen Boss', 140470746),
 ('Megan Boone', 140470746),
 ('Jessica Guadix', 140470746),
 ('Jim Sturgess', 138589343),
 ('Jason Clarke', 132820716),
 ('Joel Edgerton', 132820716),
 ('Stephen Rea', 132400000),
 ('Theo James', 132400000),
 ('India Eisley', 132400000),
 ('Tom Hanks', 130482868),
 ('Halle Berry', 130482868),
 ('Jim Broadbent', 130482868),
 ('Hugo Weaving', 130482868),
 ('Jeffrey Dean Morgan', 130252858),
 ('Daniel Radcliffe', 127730736),
 ('Sidney Johnston', 127730736),
 ('Alisa Khazanova', 127730736),
 ('Mary Stockley', 127730736),
 ('Billy Crystal', 119772232),
 ('Bette Midler', 119772232),
 ('Marisa Tomei', 119772232),
 ('Tom Everett Scott', 119772232),
 ('Bailee Madison', 119772232),
 ('Hugh Grant', 118338361),
 ('Jeremy Piven', 118338361),
 ('Brian Blessed', 118338361),
 ('Skylar Astin', 115350426),
 ('Brittany Snow', 115350426),
 ('Anna Camp', 115350426),
 ('Rebel Wilson', 115350426),
 ('Meryl Streep', 114281051),
 ('Steve Carell', 114281051),
 ('Jean Smart', 114281051),
 ('Marin Ireland', 114281051),
 ('Benjamin Walker', 112265139),
 ('Dominic Cooper', 112265139),
 ('Anthony Mackie', 112265139),
 ('Mary Elizabeth Winstead', 112265139),
 ('Rufus Sewell', 112265139),
 ('Kodi Smit-McPhee', 107139399),
 ('Tucker Albrizzi', 107139399),
 ('Jodelle Ferland', 107139399),
 ('Casey Affleck', 107139399),
 ('Emily Blunt', 100951751),
 ('Oliver Cooper', 100000000),
 ('Jonathan Daniel Brown', 100000000),
 ('Thomas Mann', 100000000),
 ('Dax Flame', 100000000),
 ('Kirby Bliss Blanton', 100000000),
 ('Jerry Ferrara', 96070507),
 ('Meagan Good', 96070507),
 ('Regina Hall', 96070507),
 ('Kevin Hart', 96070507),
 ('Susan Sarandon', 93543423),
 ('Leslie Mann', 88058786),
 ('Maude Apatow', 88058786),
 ('Natasha Calis', 85446075),
 ('Madison Davenport', 85446075),
 ('Kyra Sedgwick', 85446075),
 ('Rob LaBelle', 85446075),
 ('Charlie Tahan', 81491068),
 ('Winona Ryder', 81491068),
 ("Catherine O'Hara", 81491068),
 ('Martin Short', 81491068),
 ('Martin Landau', 81491068),
 ('Roselyn SÃ¡nchez', 81272766),
 ('Emilio Rivera', 81272766),
 ('Nestor Serrano', 81272766),
 ('Gonzalo Menendez', 81272766),
 ('Alexander Asefa', 81272766),
 ('Cameron Diaz', 79700000),
 ('Jennifer Lopez', 79700000),
 ('Joseph Gordon-Levitt', 78125599),
 ('Devon Bostick', 77112176),
 ('Steve Zahn', 77112176),
 ('Peyton List', 77112176),
 ('Rachael Harris', 77112176),
 ('Zachary Gordon', 77112176),
 ('Jared Gilman', 68263166),
 ('Kara Hayward', 68263166),
 ('Bill Murray', 68263166),
 ('Kristen Connolly', 66486080),
 ('Anna Hutchison', 66486080),
 ('Fran Kranz', 66486080),
 ('Jesse Williams', 66486080),
 ('Ben Foster', 63100000),
 ('J.K. Simmons', 63100000),
 ('Maggie Smith', 59520298),
 ('Tom Courtenay', 59520298),
 ('Pauline Collins', 59520298),
 ('Michael Gambon', 59520298),
 ('Diego Boneta', 59418613),
 ('Julianne Hough', 59418613),
 ('Eva Amurri Martino', 58058367),
 ('Leighton Meester', 58058367),
 ('Andy Samberg', 58058367),
 ('Sean Hayes', 54819301),
 ('Will Sasso', 54819301),
 ('Chris Diamantopoulos', 54819301),
 ('SofÃ\xada Vergara', 54819301),
 ('Alison Brie', 53909751),
 ('Shia LaBeouf', 53676580),
 ('Mia Wasikowska', 53676580),
 ('Adelaide Clemens', 52302796),
 ('Kit Harington', 52302796),
 ('Sean Bean', 52302796),
 ('Carrie-Anne Moss', 52302796),
 ('Radha Mitchell', 52302796),
 ('Cuba Gooding Jr.', 50365377),
 ('Daniela Ruah', 50365377),
 ('Terrence Howard', 50365377),
 ('Jake Gyllenhaal', 48126384),
 ('Michael PeÃ±a', 48126384),
 ('Natalie Martinez', 48126384),
 ('David Harbour', 48126384),
 ('Paul Dano', 47042000),
 ('Noah Segan', 47042000),
 ('Blake Lively', 47000000),
 ('Aaron Taylor-Johnson', 47000000),
 ('Benicio del Toro', 47000000),
 ('Jamie Bell', 46221189),
 ('Ed Harris', 46221189),
 ('Edward Burns', 46221189),
 ('Isabel Lucas', 44806783),
 ('Adrianne Palicki', 44806783),
 ('Karl Urban', 41037742),
 ('Olivia Thirlby', 41037742),
 ('Lena Headey', 41037742),
 ('Wood Harris', 41037742),
 ('Jason Cope', 41037742),
 ('Chris Sarandon', 40346186),
 ('James Hong', 40346186),
 ('Catherine Chan', 40346186),
 ('Robert John Burke', 40346186),
 ('Brad Pitt', 37930465),
 ('Scoot McNairy', 37930465),
 ('Ben Mendelsohn', 37930465),
 ('James Gandolfini', 37930465),
 ('Ray Liotta', 37930465),
 ('Katherine Heigl', 36893721),
 ('Debbie Reynolds', 36893721),
 ('Sherri Shepherd', 36893721),
 ('Patrick Fischler', 36893721),
 ('Richard Gere', 35485056),
 ('Tim Roth', 35485056),
 ('Brit Marling', 35485056),
 ('Monica Raymund', 35485056),
 ('Logan Lerman', 33400000),
 ('Emma Watson', 33400000),
 ('Ezra Miller', 33400000),
 ('Nina Dobrev', 33400000),
 ('Gina Carano', 33372606),
 ('Bill Paxton', 33372606),
 ('John Krasinski', 32858003),
 ('Katy Perry', 32726956),
 ('Russell Brand', 32726956),
 ('Shannon Woodward', 32726956),
 ('Rachael Markarian', 32726956),
 ('Mia Moretti', 32726956),
 ('Joseph Gilgun', 32204030),
 ('Lennie James', 32204030),
 ('Peter Stormare', 32204030),
 ('Michael Shannon', 31083599),
 ('Dania Ramirez', 31083599),
 ('Jamie Chung', 31083599),
 ('WolÃ© Parks', 31083599),
 ('Tyler Perry', 30353232),
 ('Rachel Nichols', 30353232),
 ('Jean Reno', 30353232),
 ('Matthew Fox', 30353232),
 ('Giancarlo Esposito', 30353232),
 ('John Cusack', 29657751),
 ('Luke Evans', 29657751),
 ('Alice Eve', 29657751),
 ('Kevin McNally', 29657751),
 ('Joaquin Phoenix', 28258060),
 ('Philip Seymour Hoffman', 28258060),
 ('Amy Adams', 28258060),
 ('Laura Dern', 28258060),
 ('Jesse Plemons', 28258060),
 ('Malin Ã…kerman', 26266491),
 ('Olivia Wilde', 25666239),
 ('Drew Barrymore', 24719215),
 ('Kristen Bell', 24719215),
 ('Vinessa Shaw', 24719215),
 ('Dermot Mulroney', 24719215),
 ('Whitney Houston', 24637469),
 ('Cee Lo Green', 24637469),
 ('Derek Luke', 24637469),
 ('Mike Epps', 24637469),
 ('Carmen Ejogo', 24637469),
 ('Jennifer Aniston', 24159934),
 ('Justin Theroux', 24159934),
 ('Lauren Ambrose', 24159934),
 ('Eddie Murphy', 22044277),
 ('Allison Janney', 22044277),
 ('Cliff Curtis', 22044277),
 ('Clark Duke', 22044277),
 ('Sam Rockwell', 19422261),
 ('Christopher Walken', 19422261),
 ('Abbie Cornish', 19422261),
 ('Kirsten Dunst', 16890793),
 ('Henry Cavill', 16863583),
 ('VerÃ³nica Echegui', 16863583),
 ('Sigourney Weaver', 16863583),
 ('Caroline Goodall', 16863583),
 ('Zoe Saldana', 13231461),
 ('Jeremy Irons', 13231461),
 ('Dennis Quaid', 13231461),
 ('Mark Duplass', 12434778),
 ('Victoria Justice', 11417362),
 ('Jackson Nicoll', 11417362),
 ('Chelsea Handler', 11417362),
 ('Josh Pence', 11417362),
 ('Jane Levy', 11417362),
 ('Ashley Greene', 9627492),
 ('Sebastian Stan', 9627492),
 ('Tom Felton', 9627492),
 ('Julianna Guill', 9627492),
 ('Luke Pasqualino', 9627492),
 ('Eva Longoria', 9622846),
 ('Andy GarcÃ\xada', 9622846),
 ('Oscar Isaac', 9622846),
 ("Peter O'Toole", 9622846),
 ('RubÃ©n Blades', 9622846),
 ('Garrett Hedlund', 8784318),
 ('Sam Riley', 8784318),
 ('Tom Sturridge', 8784318),
 ('Danielle Panabaker', 8493728),
 ('Matt Bush', 8493728),
 ('Katrina Bowden', 8493728),
 ('Jean-Luc Bilodeau', 8493728),
 ('David Koechner', 8493728),
 ('Matt Damon', 8138788),
 ('Rosemarie DeWitt', 8138788),
 ('Lucas Black', 8138788),
 ('Timothy Spall', 8106475),
 ('James Kidnie', 8106475),
 ('Heidi Hawkins', 8106475),
 ('Sarah Gadon', 6063556),
 ('Juliette Binoche', 6063556),
 ('Paul Giamatti', 6063556),
 ('Samantha Morton', 6063556),
 ('Josh Duhamel', 4636169),
 ('Rosario Dawson', 4636169),
 ("Vincent D'Onofrio", 4636169),
 ('50 Cent', 4636169),
 ('Jason Bateman', 3428048),
 ('Hope Davis', 3428048),
 ('Frank Grillo', 3428048),
 ('Paula Patton', 3428048),
 ('Michael Nyqvist', 3428048),
 ('Nicolas Cage', 2106557),
 ('Josh Lucas', 2106557),
 ('Sami Gayle', 2106557),
 ('Danny Huston', 2106557)]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [42]:
answers['16'] = 'Matt Damon'  # +

In [43]:
film_budget = data[data.budget>data['budget'].mean()].reset_index() # Создаём датасет в котором только фильмы с бэджетом выше среднего
sum_actors = counter(film_budget ,'cast')#  с помощью функции counter подсчитываем  в скальких фильмах снялся каждый актер 
print(sum_actors)

Matt Damon               18
Adam Sandler             17
Angelina Jolie           16
Eddie Murphy             15
Tom Cruise               15
                         ..
Christopher Eccleston     1
Jack Reynor               1
Venus Schultheis          1
Emilio EchevarrÃ­a        1
Jason Alexander           1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [44]:
answers['17'] = 'Action'   # +

In [45]:
Nicolas_Cage = data[data['cast'].map(lambda x: True if 'Nicolas Cage' in x else False)] # Создаём датасет в котором только  фильмы в жанре Action
sum_Nicolas = counter(Nicolas_Cage ,'genres')#  с помощью функции counter подсчитываем  фильмы по жанрам 
print(sum_Nicolas)

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Animation           3
Family              3
History             2
War                 1
Romance             1
Horror              1
dtype: int64

In [46]:
count_genres = Counter()
for x in data.loc[data['cast'].map(lambda x: True if 'Nicolas Cage' in x else False)]['genres'].str.split('|'):
    count_genres+=Counter(x)
display(count_genres.most_common())

[('Action', 17),
 ('Thriller', 15),
 ('Drama', 12),
 ('Crime', 10),
 ('Fantasy', 8),
 ('Adventure', 7),
 ('Comedy', 6),
 ('Science Fiction', 4),
 ('Mystery', 3),
 ('Animation', 3),
 ('Family', 3),
 ('History', 2),
 ('War', 1),
 ('Horror', 1),
 ('Romance', 1)]

# 18. Самый убыточный фильм от Paramount Pictures

In [47]:
answers['18']   = 'K-19: The Widowmaker' # +

In [48]:
Paramounts_fail = data[data['production_companies'].map(lambda x: True if 'Paramount Pictures' in x else False)]
Paramounts_fail.groupby(['original_title'])[['profit']].max().sort_values(['profit'],ascending=True)

                                                       profit
original_title
K-19: The Widowmaker                                -64831034
Timeline                                            -60519261
Next                                                -51788987
Alfie                                               -46604061
Twisted                                             -24805000
...                                                       ...
Mission: Impossible - Ghost Protocol                549713380
Transformers                                        559709780
Indiana Jones and the Kingdom of the Crystal Skull  601636033
Transformers: Revenge of the Fallen                 686297228
Transformers: Dark of the Moon                      928746996

[122 rows x 1 columns]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [49]:
answers['19']   = '2015' # +

In [50]:
max_revenue_year= pd.DataFrame(data.groupby(by = 'release_year').revenue.sum()).sort_values('revenue', ascending = False)
display (max_revenue_year)

                  revenue
release_year
2015          25449202382
2014          23405862953
2013          23213799791
2012          23079001687
2011          22676791872
2010          21071204961
2009          20261791024
2008          18252781990
2007          18162406801
2004          15663430720
2005          15309425558
2006          14775042320
2003          14346123312
2002          14136361487
2001          13017764865
2000          10664099805

# 20. Какой самый прибыльный год для студии Warner Bros?

In [51]:
answers['20']   = '2014' # +

In [52]:
Warner_Bros_win = data[data['production_companies'].map(lambda x: True if 'Warner Bros' in x else False)] # Создаём датасет в котором только  фильмы Warner Bros
Warner_Bros_win=pd.DataFrame(Warner_Bros_win.groupby(by = 'release_year').profit.sum()).sort_values('profit', ascending = False).head()#  с помощью функции counter подсчитываем  фильмы по жанрам 
display (Warner_Bros_win)

                  profit
release_year
2014          2295464519
2007          2201675217
2008          2134595031
2010          1974712985
2011          1871393682

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [53]:
answers['21']   = '9' # +

In [54]:
data['release_date'] = pd.to_datetime(data['release_date'])
data['release_date'].map(lambda x:  x.month).value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [55]:
answers['22']   = '450' # +

In [56]:
data ['mounth'] = data['release_date'].map(lambda x:  x.month)
w=0
for x in data ['mounth']:
    if 6<=x<=8:
        w+=1
print (w)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [57]:
answers['23']   = 'Peter Jackson' # +

In [58]:
from collections import Counter
data ['mounth'] = data['release_date'].map(lambda x:  x.month)
genres = data[(data ['mounth'] == 12) | (data ['mounth'] == 1) | (data ['mounth'] == 2)]['director'].to_list()
films = Counter()
for i in genres:
    for j in i.split('|'):
        films[j] += 1
print(films.most_common(3))

[('Peter Jackson', 7), ('Clint Eastwood', 6), ('Steven Soderbergh', 6)]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [59]:
answers['24']   = 'Four By Two Productions' # +

In [60]:
data['long']=data['original_title'].str.count('')
data['title_words_length'] = data.original_title.map(lambda x: len(x.split(' ')))
sum_gen=counter(data,'production_companies')
for gen in sum_gen.index:
    sum_gen[gen] = data['title_words_length'][data['production_companies'].map(lambda x: True if gen in x else False)].mean()
sum_gen = pd.DataFrame(sum_gen).sort_values(0, ascending=False)
display (sum_gen)

                                   0
Four By Two Productions           12
Jim Henson Company, The           10
Dos Corazones                      9
Polsky Films                       9
The Saul Zaentz Company            9
...                               ..
Laika Entertainment                1
Helena Productions                 1
Gulfstream Pictures                1
Sony Pictures Classics             1
Alliance Atlantis Communications   1

[1771 rows x 1 columns]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [61]:
answers['25']   = 'Midnight Picture Show' # +

In [62]:
data['overview_length'] = data.overview.map(lambda x: len(x.split(' ')))
sum_gen=counter(data,'production_companies')
for gen in sum_gen.index:
    sum_gen[gen] = data['overview_length'][data['production_companies'].map(lambda x: True if gen in x else False)].mean()
sum_gen = pd.DataFrame(sum_gen).sort_values(0, ascending=False)
display (sum_gen)

                                                  0
Midnight Picture Show                           175
Room 9 Entertainment                            161
Heineken Branded Entertainment                  161
98 MPH Productions                              159
Brookwell-McNamara Entertainment                156
...                                             ...
London Boulevard                                 13
TDJ Enterprises / New Dimensions Entertainment   13
Our Stories Films                                13
Empire Pictures                                  11
Motion Picture Corporation of America            11

[1771 rows x 1 columns]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [63]:
data_best = data[data['vote_average'] > data.quantile(0.99, numeric_only=True)['vote_average']][['imdb_id', 'original_title', 'vote_average']]
display (data_best)

        imdb_id                                 original_title  vote_average
9     tt2096673                                     Inside Out           8.0
34    tt3170832                                           Room           8.0
118   tt0816692                                   Interstellar           8.0
119   tt2015381                        Guardians of the Galaxy           7.9
125   tt2084970                             The Imitation Game           8.0
128   tt2267998                                      Gone Girl           7.9
138   tt2278388                       The Grand Budapest Hotel           7.9
370   tt1375666                                      Inception           7.9
599   tt0468569                                The Dark Knight           8.1
872   tt0253474                                    The Pianist           7.9
1081  tt0167260  The Lord of the Rings: The Return of the King           7.9
1183  tt0993846                        The Wolf of Wall Street           7.9
1191  tt2024544                               12 Years a Slave           7.9
1800  tt0209144                                        Memento           7.9

In [64]:
x =round( len(data)*0.01) # вычисляем 1 процент от общего списка фильмов
data_best_film=[]  # создаём пустой список
data_best= data.groupby(['original_title' ]) ['vote_average'].max().sort_values(ascending=False) # группируем фильмы по рейтингу
data_best_film.append(data_best.head(x))  # добавляем в список 1 % лучших фильмов
print (data_best_film)

[original_title
The Dark Knight                                      8.1
The Imitation Game                                   8.0
Inside Out                                           8.0
Interstellar                                         8.0
Room                                                 8.0
The Grand Budapest Hotel                             7.9
The Pianist                                          7.9
Guardians of the Galaxy                              7.9
Memento                                              7.9
The Wolf of Wall Street                              7.9
Inception                                            7.9
Gone Girl                                            7.9
12 Years a Slave                                     7.9
The Lord of the Rings: The Return of the King        7.9
Prisoners                                            7.8
The Fault in Our Stars                               7.8
Eternal Sunshine of the Spotless Mind                7.8
The Prestige                                         7.8
The Lord of the Rings: The Fellowship of the Ring    7.8
Name: vote_average, dtype: float64]

In [65]:
answers['26'] = data_best_film # +

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [66]:
answers['27'] = 'Daniel Radcliffe Rupert Grint' # +

In [67]:
from itertools import combinations
actor_list = data.cast.str.split('|').tolist()
combo_list=[]
for i in actor_list:
    for j in combinations(i, 2):
        combo_list.append(' '.join(j))
combo_list = pd.DataFrame(combo_list)
combo_list.columns = ['actor_combinations']
combo_list.actor_combinations.value_counts().head(10)

Daniel Radcliffe Emma Watson        8
Daniel Radcliffe Rupert Grint       8
Rupert Grint Emma Watson            7
Johnny Depp Helena Bonham Carter    6
Ben Stiller Owen Wilson             6
Adam Sandler Kevin James            5
Robert Pattinson Taylor Lautner     5
Hugh Jackman Ian McKellen           5
Kristen Stewart Taylor Lautner      5
Kristen Stewart Robert Pattinson    5
Name: actor_combinations, dtype: int64

ВАРИАНТ 2

# Submission

In [68]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723 Pirates of the Caribbean: On Stranger Tides ( tt1298650 )',
 '2': '1157 Gods and Generals ( tt0279111 )',
 '3': '768 Winnie the Pooh ( tt1449283 )',
 '4': 110,
 '5': 107.0,
 '6': '239 Avatar ( tt0499549 )',
 '7': '1245 The Lone Ranger ( tt1210819 )',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger  (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez ',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': [original_title
  The Dark Knight                                      8.1
  The Imitation Game                                   8.0
  Inside Out                                           8.0
  Interstellar                                         8.0
  Room                                                 8.0
  The Grand Budapest Hotel                             7.9
  The Pianist                                          7.9
  Guardians of the Galaxy                              7.9
  Memento                                              7.9
  The Wolf of Wall Street                              7.9
  Inception                                            7.9
  Gone Girl                                            7.9
  12 Years a Slave                                     7.9
  The Lord of the Rings: The Return of the King        7.9
  Prisoners                                            7.8
  The Fault in Our Stars                               7.8
  Eternal Sunshine of the Spotless Mind                7.8
  The Prestige                                         7.8
  The Lord of the Rings: The Fellowship of the Ring    7.8
  Name: vote_average, dtype: float64],
 '27': 'Daniel Radcliffe Rupert Grint'}

In [69]:
# и убедиться что ни чего не пропустил)
len(answers)

27